<launch>
  <!-- 
    These are the arguments you can pass this launch file.
    See: gazebo_ros/launch/empty_world.launch for details.
  -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="extra_gazebo_args" default=""/>
  <arg name="gui" default="true"/>
  <arg name="recording" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>

  <!-- Resume the logic in empty_world.launch, over-riding a number of arguments -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find asv_wave_sim_gazebo)/worlds/mumbles_head.world" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="recording" value="$(arg recording)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="verbose" value="$(arg verbose)" />
  </include>
  
  
  
  
  
  <!-- Load the controller configuration -->
<rosparam file="$(find asv_wave_sim_gazebo)/config/controllers.yaml" command="load" />

<!-- Start the controllers -->
<node name="controller_spawner" pkg="controller_manager" type="spawner"
      args="joint_state_controller fandroit_controller fangauche_controller"
      output="screen"/>

  
         
 <node name="spawn_boat" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-file $(find asv_wave_sim_gazebo)/models/boatcleaningc/model.sdf -sdf -model boatcleaningc -x 420 -y 0 -z 0.5" />

 
  
  
  
  
  
  
  
  
</launch>
